<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NOSSO PAINEL</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='app.js') }}">

</head>
<body>
<title>Pagina principal</title>

<div>
    <script type=text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
    <script type=text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
</div>

</body>
preciso conseguir extrair o JSON para cá!!!
</html>